body{
	/* background-image: url("images/house1.jpg");
	background-position: center center;
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: cover; */
	font-family: 'Lato', sans-serif;
}

body::before{
	content: "";
	background-color: rgb(70, 70, 70, 0.25);
}
#content {
	margin: 100px auto 20px auto;
	border: 10px solid #4c4c4c;
	width: 500px;
	height: 375px;
	position: relative;
}

#content img{
	position: absolute;
	left: 0;
	top: 0;
}

.fadeinimg{
	animation: fadein 2s;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

#images{
	display: flex;
	column-count: 2;
}

#images img{
	width: 60%;
}
/* #content{
	background-image: url("images/tuanPic/tuan1.jpg");
} */

#brian {
	padding-left: 40%;
}
#names{
	display: flex;
}
/* #tuan {
	justify-content: center;
	height: 100vh;
}
#tuan:hover{
	animation-name: flipG;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	transition: opacity .3s;
	background-size: cover;
}

@keyframes flipG {
	0% {
		background-image: url("images/tuanPic/tuan1.jpg");
	}
	33% {
		background-image: url("images/tuanPic/tuan2.jpg");
	}
	66%{
		background-image: url("images/tuanPic/tuan3.jpg");
	}
} */

#name img{
	width: 50%;
}
/* 
#try{
	background: green;
	width: 20%;
} */