body{
    font-family: 'EB Garamond', serif;
    background-color: rgb(248, 247, 245);
    font-size: 1em;
    line-height: 1.4em;
    max-width: 100%
}

h1{
    text-align: center;
    padding-bottom: 50px;
}
h2{
    text-align: left;
    max-width: 90%;
    padding-left: 40px;
}

h3{
    text-align: center;
    padding-bottom: 30px;
}

p{
    max-width: 70%;
    margin-left: 40px;
}

img{
    padding-bottom: 50px;
    content: center;
}
#images{
    margin-left: 40px;
}

.hidden{
    display: none;
}

footer{
    display: flex;
    justify-content: left;
    flex-direction: row;
    background-color: black;
    margin-top: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40%;
    gap: 10px;
}

footer a{
    color: #ffffff;
    text-decoration: none;
}

footer a:hover{
    color:  #bdbdbd;
}
