body{
    font-family: 'Libre Baskerville', serif;
    background-color: #1c1c1c;
    font-size: 1em;
}

#first{
    margin-left: 37%;
    margin-right: 20%;
    line-height: 1.5em;
}

h1{
    background-color: #252525;
    padding: 10px;
    margin-left: 100px;
    color: rgb(158, 158, 158);
}

h2{
    font-size: 3em;
    line-height: 1.5em;
    color: #a78e7a;
}

h3{
    margin-top: 100px;
    color: #8d6443;
}

h4{
    color: rgb(158, 158, 158);
    font-size: 2em;
}
#second{
    padding: 3em;
    margin: 3em;
    column-count: 3;
    column-gap: 30px;
    line-height: 1.5em;
}

#second h1{
    padding: 0;
    margin: 0;
    background-color: #1c1c1c;
}
p{
    width: 100%;
    line-height: 1.4em;
    text-align: left;
    color: #a78e7a;
}

section p:first-child{
    margin-top: 0;
}

footer{
    display: flex;
    justify-content: left;
    flex-direction: row;
    padding-left: 40%;
    gap: 200px;
}

footer a{
    color: #8d6443;
    text-decoration: none;
}

footer a:hover{
    color:  #c5b7ab;
}